<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:include="fragments/header :: copy"></header>
	<title>Listado de Productos</title>
</head>

<body>

	<div class="container">
		<div class="header clearfix">
		<div th:include="fragments/nav_usuario :: copy"></div> 
		<h3 class="text-muted">Wallapop</h3>
		</div>

		<div class="jumbotron">
			<h1>Listado de Productos</h1>
			<div th:include="fragments/mensajes :: copy"></div>

			<div class="container page-header">
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Titulo</th>
							<th>Precio</th>
							<th>Categoria</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${productos}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.titulo}"></td>
							<td th:text="${p.precio}"></td>
							<td th:text="${p.categoria}"></td>
							<td th:text="${p.estado}"></td>
							<td>
								<div class="row">
									<div class="col-md-3">
										<a th:href="@{'producto/' + ${p.id}}">
											<span class="glyphicon glyphicon-edit" aria-hidden="true" title="Editar"></span>
										</a>
									</div>
									
									<div class="col-md-9">
										<form th:action="@{'producto'}" method="post">
											<input type="hidden" name="id" th:value="${p.id}" />
											<button type="submit"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span></button>
										</form>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:include="fragments/footer :: copy"></div>
	</div> <!-- /container -->

	<div th:include="fragments/javascript :: copy"></div>

</body>
</html>