<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:include="fragments/header :: copy"></header>
	<title>Práctica 1 TIW - Login</title>
</head>

<body>

	<div class="container">
		<div class="header clearfix">
		<div th:include="fragments/nav_nologin :: copy"></div> 
		<h3 class="text-muted">Práctica 1 TIW</h3>
		</div>

		<div class="jumbotron">
			<h1>Login</h1>
			<div th:include="fragments/mensajes :: copy"></div>

			<form th:action="@{/login}" method="post" th:object="${Usuario}">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">@</span> <input
						type="text" class="form-control" placeholder="Email"
						name="email" aria-describedby="basic-addon1" />
				</div>
				<br />
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><span
						class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span> <input
						type="password" class="form-control" placeholder="Clave"
						name="clave" aria-describedby="basic-addon1" />
				</div>
				<br />
				<button type="submit" class="btn btn-primary btn-lg">Login</button>
				<p style="text-align:right"><a th:href="@{/registro}">Registro de nuevo usuario</a></p>
			</form>
		</div>
		<div th:include="fragments/footer :: copy"></div>
	</div> <!-- /container -->

	<div th:include="fragments/javascript :: copy"></div>

</body>
</html>