<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:include="fragments/header :: copy"></header>
	<title>Perfil de Usuario</title>
</head>

<body>

	<div class="container">
		<div class="header clearfix">
		<div th:include="fragments/nav_usuario :: copy"></div> 
		<h3 class="text-muted">Wallapop</h3>
		</div>

		<div class="jumbotron">
			<h1>Perfil de Usuario</h1>
			<div th:include="fragments/mensajes :: copy"></div>

			<form th:action="@{/user/perfil}" method="post" th:object="${Usuario}" >
				<input type="hidden" name="id" th:value="${usuario.id}"/>
				<div th:include="fragments/form_usuario :: copy"></div>
				<br />
				<p>Al pulsar el botón aceptas las condiciones criminales que te
					imponemos.</p>
				<br />
				<button type="submit" class="btn btn-primary btn-lg">Modificar</button>
			</form>
			
		</div>
		<div th:include="fragments/footer :: copy"></div>
	</div> <!-- /container -->

	<div th:include="fragments/javascript :: copy"></div>

</body>
</html>